network:
  version: 2
  ethernets:
    {{ pve_cloud_init_dns_override_effective_interface }}:
      nameservers:
{% if pve_cloud_init_dns_override_servers | length > 0 %}
        addresses:
{% for server in pve_cloud_init_dns_override_servers %}
          - {{ server }}
{% endfor %}
{% endif %}
{% if pve_cloud_init_dns_override_search | length > 0 %}
        search:
{% for domain in pve_cloud_init_dns_override_search %}
          - {{ domain }}
{% endfor %}
{% endif %}
